  body {
    background: #5CDB95;
    color: #EDF5E1;
  }
  h1 {
    font-family: "Garamond", serif;
    color: #05386B;
    text-align: center;
    text-decoration: underline;
  }
  .friend {
    background: #379683;
    border-style: solid;
    border-color: #8EE4AF;
    border-width: 5px;
    text-align: center;
    font-size: 25px;
    font-family: "Garamond", serif;
  }
  
  h3 {
    text-transform: uppercase;
    color: #05416B
  }s